<!DOCTYPE html>
<html>
  <body>
    <nav>
      <ul>
        <%if(user){%>
        <li><a href="/auth/logout">Logout</a></li>
        <% }else{ %>
        <li><a href="/auth/login">Login</a></li>
        <%}%>
        <li><a href="/">Homepage</a></li>
        <li><a href="/tags">Add Tags</a></li>
        <li><a href="/admin">Add Admin</a></li>
      </ul>
    </nav>
    <h1>Users:</h1>
    <% users.forEach(user => { const tags = user.tags;%>
        <div>
    <p><%= user._id %></p>
    <h4>Tags:</h4>
    <%if(tags.length === 0){%>

    <p>No Tags found!!!</p>
    <%}else{%>
    <ol>
      <% tags.forEach(tag =>{%>
      <li><%= tag %></li>
      <%});%> <%}%>
      <hr />
    </div>
      <%});%>
    </ol>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script src="js/tag-it.js" type="text/javascript" charset="utf-8"></script>
</html>
