<!DOCTYPE html>
<html>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Homepage</a></li>
      </ul>
    </nav>
    <h1>Welcome to the Oauth app</h1>
  </body>
</html>
