<!DOCTYPE html>

<html lang="en" class="gr__getbootstrap_com">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href=".img/image.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Tikaj Signin</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.0/examples/sign-in/"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body class="text-left" data-gr-c-s-loaded="true">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-center">
          <img
            class="mb-4"
            src="/img/image.png"
            alt=""
            width="auto"
            height="auto"
          />
        </div>
      </div>
      <div class="col">
        <form class="form-signin">
          <h1 class="h3 mb-3 font-weight-normal">TOCboard</h1>
          <h6 class="info">
            All team management in one place,<br />
            searchable and acessible anywhere.
          </h6>
          <br />
          <p>Sign-in with:</p>
          <button
            type="button"
            class="btn btn-gitlab btn-lg btn-block"
            onclick="window.location.href = '/auth/gitlab'"
          >
            <img src="/img/gitlab.png" height="25px" /> Login with GitLab
          </button>
          <br />
          <h5>OR</h5>
          <br />
          <button
            type="button"
            class="btn btn-danger btn-lg btn-block"
            onclick="window.location.href = '/auth/google'"
          >
            <img src="/img/google.png" height="30px" /> Login with Google
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
